/******************************************************************************/
/* Text color																 */
/******************************************************************************/

a,
a:hover,
.ui-selectmenu-button .ui-icon.ui-icon-triangle-1-s,
.widget_search .theme-icon-meta-search,
.widget_product_search .theme-icon-meta-search,
.wp-block-search .theme-icon-meta-search,
.woocommerce .star-rating,
.theme-component-blockquote>span,
.theme-component-call-to-action .theme-component-call-to-action-box .theme-component-call-to-action-icon,
.theme-component-counter-box .theme-component-counter-box-item .theme-component-counter-box-item-value,
.theme-component-feature-carousel>ul>li>div>span>span,
.theme-component-feature-circle .theme-component-feature-circle-circle>span:first-child,
.theme-component-feature-circle .theme-component-feature-circle-circle .theme-component-feature-circle-item>span.theme-component-feature-circle-item-circle>span:before,
.theme-component-feature.theme-component-feature-style-1 .theme-component-feature-item>.theme-component-feature-item-icon,
.theme-component-feature.theme-component-feature-style-3 .theme-component-feature-item>.theme-component-feature-item-icon,
.theme-component-feature-image-list .theme-component-feature-image-list-item .theme-component-feature-image-list-item-content>h4,
.theme-component-feature-image-list .theme-component-feature-image-list-item .theme-component-feature-image-list-item-content>h4>a,
.theme-component-feature-image-list .theme-component-feature-image-list-item .theme-component-feature-image-list-item-content>h4>a:hover,
.theme-component-header-subheader .theme-component-header-subheader-subheader,
.theme-component-list.theme-component-list-style-1 ul li>span:first-child,
.theme-component-list.theme-component-list-style-2 ul li>span:first-child,
.theme-component-notice>.theme-component-notice-icon>span:before,
.theme-component-tab.ui-tabs .ui-tabs-nav li.ui-state-hover a>span:first-child::before,
.theme-component-tab.ui-tabs .ui-tabs-nav li.ui-state-active a>span:first-child::before,
.theme-component-testimonial-list.theme-component-testimonial-list-style-1 .theme-component-testimonial-list-item>span:before,
.theme-component-testimonial-list.theme-component-testimonial-list-style-2 .theme-component-testimonial-list-item>span:before,
.theme-post .theme-post-date,
.theme-post .theme-post-date>a,
#theme-full-screen-search-form>form>div>span,
#theme-full-screen-search-form #theme-full-screen-search-form-close-button:hover,
.theme-vehicle-list-search .ui-menu .ui-menu-item:hover,
.theme-text-color-1,
.theme-header-style-1
{
	color:[color_1];
}

body,
select,
input,
html .woocommerce-MyAccount-navigation ul li>a,
html .woocommerce .button:hover,
html .woocommerce .button.alt:hover,
html .woocommerce .button.alt.disabled:hover,
html .woocommerce .button:disabled[disabled],
html .woocommerce .button:disabled[disabled]:hover,
html .woocommerce #respond input#submit,
html .woocommerce #respond input#submit:hover,
html .woocommerce ul.products li.product .woocommerce-LoopProduct-link span.price,
html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link span.price,
html .woocommerce ul.products li.product .woocommerce-LoopProduct-link span.price>*,
html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link span.price>*,
html .woocommerce div.product div.summary .price,
html .woocommerce div.product div.summary .price>*,
html .woocommerce-grouped-product-list-item__price,
html .woocommerce-grouped-product-list-item__price>*,
html .woocommerce nav.woocommerce-pagination ul li a, 
html .woocommerce nav.woocommerce-pagination ul li span,
input.theme-component-button.theme-component-button-style-1:hover,
input.theme-component-button.theme-component-button-style-3,
.theme-menu.theme-menu-responsive .theme-menu-responsive-button,
.widget_nav_menu ul li>a,
.theme-gutenberg-block .wp-block-file .wp-block-file__button:hover,
.theme-component-button.theme-component-button-style-1>a:hover,
.theme-component-button.theme-component-button-style-3>a,
.theme-component-list.theme-component-list-style-3 ul li>span:first-child,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-2>li,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-2>li a,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-2>li a:hover,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-3>li a:hover,
.theme-component-social-profile.theme-component-social-profile-style-1>li>a:hover,
.theme-component-social-profile.theme-component-social-profile-style-2>li>a:hover,
.theme-component-social-profile.theme-component-social-profile-style-1>li>a:hover,
.theme-component-counter-list .theme-component-counter-list-item>span,
.theme-component-tab.ui-tabs .ui-tabs-nav li a,
.theme-component-tab.ui-tabs .ui-tabs-nav li a:hover,
.theme-component-work-experience-list>ul>li>div:first-child+div>span:first-child+span,
.theme-menu.theme-menu-default>ul>li>a,
.theme-menu.theme-menu-default>ul>li>a:hover,
.theme-menu-responsive-list li>a,
.theme-menu-responsive-list li>a:hover,
.theme-pagination a,
.theme-text-copyright,
.theme-text-copyright a,
.theme-text-copyright a:hover,
.theme-text-color-2
{
	color:[color_2];
}


.wp-block-code,
.wp-block-pullquote,
#comments #comments_list>ul>li .theme-comment-meta>.theme-comment-meta-author,
#comments #comments_list>ul>li .theme-comment-meta>.theme-comment-meta-reply-to,
#comments #comments_list>ul>li .theme-comment-meta>.theme-comment-meta-date,
input.theme-component-button.theme-component-button-style-2,
html .woocommerce .woocommerce-product-attributes tr>th,
html .woocommerce div.quantity .plus,
html .woocommerce div.quantity .minus,
html .woocommerce .widget_rating_filter ul>li.wc-layered-nav-rating>a,
html .woocommerce .widget_rating_filter ul>li.wc-layered-nav-rating>a:hover,
html .woocommerce .woocommerce-widget-layered-nav ul>li.woocommerce-widget-layered-nav-list__item>a,
html .woocommerce .woocommerce-widget-layered-nav ul>li.woocommerce-widget-layered-nav-list__item>a:hover,
.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a,
.wp-block-tag-cloud a,
.widget_meta ul>li a,
.widget_pages ul>li a,
.widget_meta ul>li a:hover,
.widget_pages ul>li a:hover,
.widget_archive>ul>li>a,
.wp-block-archives li>a,
.widget_categories ul>li>a,
.widget_product_categories ul>li>a,
.widget_archive>ul>li>a:hover,
.wp-block-archives li>a:hover,
.widget_categories ul>li>a:hover,
.widget_product_categories ul>li>a:hover,
.widget_rss>ul>li>.rss-date,
.widget_recent_entries>ul>li>span,
ul.wp-block-latest-posts.wp-block-latest-posts__list>li time,
.widget_recent_comments>ul>li>span, 
.widget_recent_comments>ul>li>span>a,
.widget_recent_comments>ul>li>span>a:hover,
ol.wp-block-latest-comments>li .wp-block-latest-comments__comment-link,
ol.wp-block-latest-comments>li .wp-block-latest-comments__comment-link:hover,
ol.wp-block-latest-comments>li .wp-block-latest-comments__comment-author,
ol.wp-block-latest-comments>li .wp-block-latest-comments__comment-author:hover,
.widget_products>ul.product_list_widget>li>ins,
.widget_products>ul.product_list_widget>li>del,
.widget_recent_reviews>ul.product_list_widget>li>ins,
.widget_recent_reviews>ul.product_list_widget>li>del,
.widget_top_rated_products>ul.product_list_widget>li>ins,
.widget_top_rated_products>ul.product_list_widget>li>del,
.widget_recently_viewed_products>ul.product_list_widget>li>ins,
.widget_recently_viewed_products>ul.product_list_widget>li>del,
.widget_products>ul.product_list_widget>li>a:hover,
.widget_recent_reviews>ul.product_list_widget>li>a:hover,
.widget_top_rated_products>ul.product_list_widget>li>a:hover,
.widget_recently_viewed_products>ul.product_list_widget>li>a:hover,
.widget_calendar>.calendar_wrap>table,
.widget_calendar>.calendar_wrap>table a,
.widget_calendar>.calendar_wrap>table a:hover,
.wp-block-calendar table,
.wp-block-calendar table a,
.wp-block-calendar table a :hover,
.widget_recent_entries>ul>li a:hover,
ul.wp-block-latest-posts.wp-block-latest-posts__list>li a:hover,
.wp-block-search label,
.widget_search form .screen-reader-text,
.widget_product_search form .screen-reader-text,
.theme-component-attribute-table>ul>li>div:first-child,
.theme-component-blockquote>div,
.theme-component-button.theme-component-button-style-2>a,
.theme-component-driver-list .theme-component-driver-list-item>h4>a:hover,
.theme-component-feature.theme-component-feature-style-2 .theme-component-feature-item>.theme-component-feature-item-header,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-1>li,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-1>li a,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-1>li a:hover,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-3>li,
.theme-component-meta-icon-list.theme-component-meta-icon-list-style-3>li a,
.theme-component-testimonial-list.theme-component-testimonial-list-style-1 .theme-component-testimonial-list-item>div,
.theme-component-testimonial-list.theme-component-testimonial-list-style-2 .theme-component-testimonial-list-item>div,
.theme-component-work-experience-list>ul>li>div:first-child>span:first-child+span,
.theme-component-work-experience-list>ul>li>div:first-child+div>span:first-child,
.theme-vehicle-list .theme-vehicle-list-item .theme-vehicle-list-item-meta .theme-circle,
.theme-vehicle-list .theme-vehicle-list-search .chbs-form-field>label,
.theme-form-field label,
.theme-post .theme-post-meta,
.theme-post .theme-post-meta a,
.theme-post .theme-post-meta a:hover,
.theme-post .theme-post-share>span,
.theme-post .theme-post-title h3 a:hover,
.theme-post .theme-post-title h4 a:hover,
.theme-post-navigation>a,
.theme-post-navigation>a:hover,
.theme-text-color-3
{
	color:[color_3];
}

#theme-go-to-top,
mark,
.theme-gutenberg-block .wp-block-file .wp-block-file__button,
input.theme-component-button.theme-component-button-style-1,
input.theme-component-button.theme-component-button-style-2:hover,
input.theme-component-button.theme-component-button-style-3:hover,
html .woocommerce .button,
html .woocommerce .button.alt,
html .woocommerce .button.alt.disabled,
html .woocommerce .button:disabled[disabled],
html .woocommerce #respond input#submit,
html .woocommerce-MyAccount-navigation ul li>a:hover,
html .woocommerce-MyAccount-navigation ul li.is-active>a,
html .woocommerce span.onsale,
html .woocommerce ul.products li.product .onsale,
html .woocommerce div.quantity .plus:hover,
html .woocommerce div.quantity .minus:hover,
.widget_nav_menu ul li>a:hover,
.widget_nav_menu ul li.current-menu-item>a,
.widget_nav_menu ul li.current_page_item>a,
.theme-component-button.theme-component-button-style-1>a,
.theme-component-button.theme-component-button-style-2>a:hover,
.theme-component-button.theme-component-button-style-3>a:hover,
.theme-component-button.theme-component-button-style-4>a,
.theme-component-button.theme-component-button-style-4>a:hover,
.theme-component-feature-image-list .theme-component-feature-image-list-item .theme-component-feature-image-list-item-image>span>span,
.theme-component-gallery>ul>li>a>span>span:first-child+span,
.theme-component-google-map.theme-component-google-map-type-1 .theme-component-google-map-map-box h3,
.theme-component-google-map.theme-component-google-map-type-1 .theme-component-google-map-map-box p,
.theme-component-process-list .theme-component-process-list-item>span,
.theme-component-process-list .theme-component-process-list-item>p,
.theme-component-recent-post>li>a>span.theme-component-recent-post-date>span,
.theme-component-recent-post>li>a>span.theme-component-recent-post-header>span,
.theme-menu.theme-menu-default>ul ul li a:hover,
.theme-menu.theme-menu-default>ul ul li.current-menu-item a,
.theme-menu.theme-menu-default>ul ul li.current_page_item a,
.theme-page .theme-page-header .theme-page-header-title.theme-page-header-title-type-image>div>h1,
.theme-page .theme-page-header .theme-page-header-title.theme-page-header-title-type-image>div>div,
.theme-page .theme-page-header .theme-page-header-title.theme-page-header-title-type-image>div>div a,
.theme-page .theme-page-header .theme-page-header-title.theme-page-header-title-type-image>div>div a>hover,
.theme-qtip,
.theme-vehicle-list .theme-vehicle-list-item .theme-vehicle-list-item-image>a>span>.theme-vehicle-list-item-title,
.theme-vehicle-list .theme-vehicle-list-item .theme-vehicle-list-item-image>a>span>.theme-vehicle-list-item-category,
.theme-component-google-map.theme-component-google-map-type-2 .theme-component-google-map-map-box>a:hover,
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.wp-block-tag-cloud a:hover,
.theme-text-color-4
{
	color:[color_4];
}

.theme-text-color-5
{
	color:[color_5];
}

.theme-component-counter-box .theme-component-counter-box-item .theme-component-counter-box-item-tick::before,
.theme-component-feature.theme-component-feature-style-2 .theme-component-feature-item>.theme-component-feature-item-icon,
.theme-component-social-profile.theme-component-social-profile-style-1>li>a,
.theme-component-social-profile.theme-component-social-profile-style-2>li>a,
.theme-text-color-5
{
	color:[color_6];
}

.theme-text-color-6,
#theme-full-screen-search-form #theme-full-screen-search-form-close-button
{
	color:[color_6];
}

.theme-text-color-7
{
	color:[color_7];
}

h1,
h1 a,
h1 a:hover,
h2,
h2 a,
h2 a:hover,
h3,
h3 a,
h3 a:hover,
h4,
h4 a,
h4 a:hover,
h5,
h5 a,
h5 a:hover,
h6,
h6 a,
h6 a:hover,
html .woocommerce ul.products li.product .woocommerce-LoopProduct-link h3,
html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link h3,
tml .woocommerce nav.woocommerce-pagination ul li a:focus, 
html .woocommerce nav.woocommerce-pagination ul li a:hover, 
html .woocommerce nav.woocommerce-pagination ul li span.current,
html .woocommerce select,
html .woocommerce textarea,
html .woocommerce input[type="tel"],
html .woocommerce input[type="text"],
html .woocommerce input[type="email"],
html .woocommerce input[type="search"],
html .woocommerce input[type="password"],
html .woocommerce .woocommerce-product-attributes tr>td,
.theme-component-attribute-table>ul>li>div:first-child+div,
.ui-selectmenu-button .ui-selectmenu-text,
.widget_recent_entries>ul>li>a,
ul.wp-block-latest-posts.wp-block-latest-posts__list>li a,
.widget_recent_comments>ul>li>a,
ol.wp-block-latest-comments>li .wp-block-latest-comments__comment-link,
.widget_rss>ul>li>a,
.widget_rss>ul>li>a:hover,
.wp-block-rss>li.wp-block-rss__item>.wp-block-rss__item-title>a,
.wp-block-rss>li.wp-block-rss__item>.wp-block-rss__item-title>a:hover,
.widget_products>ul.product_list_widget>li>a,
.widget_products>ul.product_list_widget>li>a,
.widget_recent_reviews>ul.product_list_widget>li>a,
.widget_recent_reviews>ul.product_list_widget>li>a,
.widget_top_rated_products>ul.product_list_widget>li>a,
.widget_top_rated_products>ul.product_list_widget>li>a,
.widget_recently_viewed_products>ul.product_list_widget>li>a,
.widget_recently_viewed_products>ul.product_list_widget>li>a,
.widget_search input[type="text"],
.widget_product_search input[type="search"],
.wp-block-search input[type="search"],
.theme-component-feature.theme-component-feature-style-2 .theme-component-feature-item>p,
.theme-component-feature-circle .theme-component-feature-circle-item>span.theme-component-feature-circle-item-label,
.theme-component-work-experience-list>ul>li>div:first-child>span:first-child,
.theme-form-field select,
.theme-form-field textarea,
.theme-form-field input[type="tel"],
.theme-form-field input[type="text"],
.theme-form-field input[type="email"],
.theme-form-field input[type="search"],
.theme-form-field input[type="password"],
.theme-page .theme-page-header .theme-page-header-title.theme-page-header-title-type-text>h1,
#theme-full-screen-search-form>form>div>input[type="text"],
.theme-pagination>.current,
.theme-pagination>*:hover,
.theme-text-color-8
{
	color:[color_8];
}

.theme-text-color-9
{
	color:[color_9]; 
}

.theme-text-color-10
{
	color:[color_10];
}

.theme-component-tab.ui-tabs .ui-tabs-nav li a>span:first-child::before,
.theme-component-google-map.theme-component-google-map-type-2 .theme-component-google-map-map-box>a,
.theme-menu.theme-menu-default>ul ul li a,
#theme-full-screen-search-form>form>div>input[type="text"]::placeholder,
.widget_theme_widget_vehicle_attribute>.theme-widget-vehicle-attribute-icon>div>span:first-child,
.theme-text-color-11
{
	color:[color_11];
}

.theme-text-color-12
{
	color:[color_12];
}

/******************************************************************************/
/* Border color															   */
/******************************************************************************/

html .woocommerce .button,
html .woocommerce .button.alt,
html .woocommerce .button.alt.disabled,
html .woocommerce .button:disabled[disabled],
html .woocommerce #respond input#submit,
.theme-gutenberg-block .wp-block-file .wp-block-file__button,
input.theme-component-button.theme-component-button-style-1,
input.theme-component-button.theme-component-button-style-2:hover,
input.theme-component-button.theme-component-button-style-3,
.slick-dots>li.slick-active>button,
.theme-component-button.theme-component-button-style-1>a,
.theme-component-button.theme-component-button-style-2>a:hover,
.theme-component-button.theme-component-button-style-3>a,
.theme-component-tab.ui-tabs .ui-tabs-nav li.ui-state-hover,
.theme-component-tab.ui-tabs .ui-tabs-nav li.ui-state-active,
.theme-width-480.theme-component-tab.ui-tabs .ui-tabs-nav li.ui-state-hover,
.theme-width-300.theme-component-tab.ui-tabs .ui-tabs-nav li.ui-state-active,
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.wp-block-tag-cloud a:hover,
.theme-border-color-1
{
	border-color:[color_1];
}

.theme-qtip,
.theme-border-color-2
{
	border-color:[color_2];
}

.theme-component-button.theme-component-button-style-4>a,
.theme-component-button.theme-component-button-style-4>a:hover,
.theme-border-color-3
{
	border-color:[color_3];
}

.theme-component-feature-image-list .theme-component-feature-image-list-item .theme-component-feature-image-list-item-image>span,
.theme-border-color-4
{
	border-color:[color_4];
}

.theme-border-color-5
{
	border-color:[color_5];
}

.slick-dots>li>button,
.theme-border-color-6
{
	border-color:[color_6];
}

.theme-border-color-7
{
	border-color:[color_7];
}

.theme-border-color-8
{
	border-color:[color_8];
}

html .select2-container--default .select2-selection--single,
html .select2-container--open .select2-dropdown--above,
html .select2-container--open .select2-dropdown--below,
html .select2-container--default .select2-search--dropdown .select2-search__field,
select,
textarea,
input[type="tel"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
select,
html .woocommerce div.quantity .input-text,
table,
table td,
table th,
.wp-block-table td,
.wp-block-table th,
html .woocommerce table.shop_table,
html .woocommerce table.shop_table td,
html .woocommerce table.shop_table th,
html .woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, 
html .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child,
html .woocommerce address,
html .woocommerce .woocommerce-customer-details address,
html #add_payment_method table.cart td.actions .coupon .input-text,
html .woocommerce-cart table.cart td.actions .coupon .input-text, 
html .woocommerce-checkout table.cart td.actions .coupon .input-text,
html .woocommerce .widget_rating_filter ul>li.wc-layered-nav-rating,
html .woocommerce .woocommerce-widget-layered-nav ul>li.woocommerce-widget-layered-nav-list__item,
html .woocommerce #review_form #respond #commentform>p,
html .woocommerce #review_form #respond #commentform>div,
html .chbs-wc-order-view .chbs-wc-order-view-section>div,
input.theme-component-button.theme-component-button-style-2,
#theme-full-screen-search-form>form>div>input[type="text"],
.widget_rss>ul>li,
.wp-block-rss>li.wp-block-rss__item,
.widget_meta ul>li a,
.widget_pages ul>li a,
.widget_recent_entries>ul>li,
ul.wp-block-latest-posts.wp-block-latest-posts__list>li,
.widget_recent_comments>ul>li,
ol.wp-block-latest-comments>li,
.widget_archive ul>li a,
.wp-block-archives li a,
.widget_categories ul>li a,
.widget_product_categories ul>li a,
.widget_tag_cloud .tagcloud a,
.wp-block-tag-cloud a,
.widget_product_tag_cloud .tagcloud a,
.widget_products>ul.product_list_widget>li,
.widget_recent_reviews>ul.product_list_widget>li,
.widget_top_rated_products>ul.product_list_widget>li,
.widget_recently_viewed_products>ul.product_list_widget>li,
.widget_calendar>.calendar_wrap>table th,
.widget_calendar>.calendar_wrap>table td,
.wp-block-calendar table th,
.wp-block-calendar table td,
.widget_search form,
.widget_product_search form,
.wp-block-search,
.theme-menu.theme-menu-responsive .theme-menu-responsive-button,
.theme-component-call-to-action.theme-component-call-to-action-style-2 .theme-component-call-to-action-box,
.theme-component-button.theme-component-button-style-2>a,
.theme-component-counter-box .theme-component-counter-box-item .theme-component-counter-box-item-circle-1,
.theme-component-counter-box .theme-component-counter-box-item .theme-component-counter-box-item-circle-2,
.theme-component-counter-box .vc_row .vc_column_container+.vc_column_container,
.theme-component-feature-carousel>ul>li>div>span,
.theme-component-feature-circle .theme-component-feature-circle-circle,
.theme-component-feature-circle .theme-component-feature-circle-circle .theme-component-feature-circle-item,
.theme-component-feature-circle .theme-component-feature-circle-circle .theme-component-feature-circle-item>span.theme-component-feature-circle-item-circle>span,
.theme-component-list.theme-component-list-style-2 ul li>span:first-child,
.theme-component-tab.ui-tabs .ui-tabs-nav li a>span:first-child,
.theme-width-480.theme-component-tab.ui-tabs .ui-tabs-nav li,
.theme-width-300.theme-component-tab.ui-tabs .ui-tabs-nav li,
.theme-column-style-6,
.theme-form-field,
.theme-page-header-bottom-style-1,
.theme-page-header-bottom-style-2,
.theme-post-navigation>a,
.theme-vehicle-list .theme-vehicle-list-item .theme-vehicle-list-item-meta,
.theme-vehicle-list .theme-vehicle-list-item .theme-vehicle-list-item-meta .theme-circle,
.theme-vehicle-list .theme-vehicle-list-search .chbs-form-field,
.theme-menu-responsive-list a,
.theme-vehicle-list-search .ui-selectmenu-menu,
.theme-vehicle-list-search .ui-menu .ui-menu-item,
.theme-border-color-9
{
	border-color:[color_9];
}

.theme-border-color-10
{
	border-color:[color_10];
}

html .woocommerce .woocommerce-product-attributes tr>td,
html .woocommerce .woocommerce-product-attributes tr>th,
.theme-component-attribute-table>ul>li>div,
.theme-component-work-experience-list>ul>li>div:first-child+div,
.theme-border-color-11
{
	border-color:[color_11];
}

.theme-border-color-12
{
	border-color:[color_12];
}

/******************************************************************************/
/* Background color														   */
/******************************************************************************/

mark,
html .woocommerce .button,
html .woocommerce .button.alt,
html .woocommerce .button.alt.disabled,
html .woocommerce .button:disabled[disabled],
html .woocommerce #respond input#submit,
.theme-gutenberg-block .wp-block-file .wp-block-file__button,
input.theme-component-button.theme-component-button-style-1,
input.theme-component-button.theme-component-button-style-2:hover,
input.theme-component-button.theme-component-button-style-3:hover,
html .woocommerce-MyAccount-navigation ul li>a:hover,
html .woocommerce-MyAccount-navigation ul li.is-active>a,
html .woocommerce span.onsale,
html .woocommerce ul.products li.product .onsale,
html .woocommerce div.quantity .plus:hover,
html .woocommerce div.quantity .minus:hover,
.widget_nav_menu ul li>a:hover,
.widget_nav_menu ul li.current-menu-item>a,
.widget_nav_menu ul li.current_page_item>a,
.theme-component-button.theme-component-button-style-1>a,
.theme-component-button.theme-component-button-style-2>a:hover,
.theme-component-button.theme-component-button-style-3>a:hover,
.theme-component-counter-list .theme-component-counter-list-item>div>div,
.theme-image-style-1 .vc_single_image-wrapper::after,
.theme-menu.theme-menu-default>ul>li>a>span:last-child,
.theme-menu.theme-menu-default>ul>li:hover>a>span:last-child,
.theme-menu.theme-menu-default>ul>li.sfHover>a>span:last-child,
.theme-widget .theme-widget-header>span,
.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover,
.wp-block-tag-cloud a:hover,
.theme-background-color-1
{
	background-color:[color_1];
}

.theme-qtip,
.theme-component-google-map.theme-component-google-map-type-1 .theme-component-google-map-map-box,
.theme-component-google-map.theme-component-google-map-type-2 .theme-component-google-map-map-box,
.theme-component-process-list .theme-component-process-list-item.theme-component-process-list-item-even,
.theme-component-button.theme-component-button-style-4>a,
.theme-background-color-2
{
	background-color:[color_2];   
}

html .woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
html .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.theme-component-button.theme-component-button-style-4>a:hover,
.theme-component-process-list .theme-component-process-list-item.theme-component-process-list-item-odd,
.theme-background-color-3
{
	background-color:[color_3];
}

#theme-full-screen-search-form,
input.theme-component-button.theme-component-button-style-2,
.wp-block-calendar>table th,
.widget_theme_widget_vehicle_attribute>.theme-widget-vehicle-attribute-icon>div>span:first-child,
.theme-menu-responsive-list,
.theme-menu.theme-menu-responsive .theme-menu-responsive-button,
.theme-component-button.theme-component-button-style-2>a,
.theme-component-gallery>ul>li>a>span>span:first-child,
.theme-component-feature-carousel>ul>li>div,
.theme-component-feature.theme-component-feature-style-2 .theme-component-feature-item>.theme-component-feature-item-icon>span,
.theme-component-feature-circle .theme-component-feature-circle-circle .theme-component-feature-circle-item>span.theme-component-feature-circle-item-circle>span,
.theme-component-feature-image-list .theme-component-feature-image-list-item .theme-component-feature-image-list-item-content,
.theme-component-notice>.theme-component-notice-icon>span>span,
.theme-component-testimonial-list.theme-component-testimonial-list-style-1 .theme-component-testimonial-list-item>span>span,
.theme-component-testimonial-list.theme-component-testimonial-list-style-2 .theme-component-testimonial-list-item>span>span,
.theme-blog.theme-blog-column .theme-post .theme-post-layout-right,
.theme-vehicle-list .theme-vehicle-list-item .theme-vehicle-list-item-meta,
.theme-vehicle-list .theme-vehicle-list-search,
.theme-page .theme-page-header .chbs-main.chbs-widget.chbs-widget-style-1,
.theme-vehicle-list-search .ui-selectmenu-menu,
.theme-background-color-4
{
	background-color:[color_4];
}

html .woocommerce .button:hover,
html .woocommerce .button.alt:hover,
html .woocommerce .button.alt.disabled:hover,
html .woocommerce .button:disabled[disabled]:hover,
html .woocommerce #respond input#submit:hover,
input.theme-component-button.theme-component-button-style-3,
.theme-gutenberg-block .wp-block-file .wp-block-file__button:hover,
input.theme-component-button.theme-component-button-style-1:hover,
.theme-component-button.theme-component-button-style-3>a,
.theme-component-button.theme-component-button-style-1>a:hover,
.theme-background-color-5
{
	background-color:[color_5];
}

.slick-dots>li>button,
.theme-background-color-6
{
	background-color:[color_6];
}

.widget_nav_menu ul li>a,
html .woocommerce div.quantity .plus,
html .woocommerce div.quantity .minus,
html .woocommerce-MyAccount-navigation ul li>a,
.theme-blog.theme-blog-classic>ul>li.theme-post.sticky,
.page-template.page-template-blog-column-2 .theme-blog.theme-blog-column .theme-post .theme-post-layout-right,
.theme-component-call-to-action.theme-component-call-to-action-style-1 .theme-component-call-to-action-box,
.theme-component-driver-list.theme-component-driver-list-style-2 .theme-component-driver-list-item,
.theme-component-testimonial-list.theme-component-testimonial-list-style-1 .theme-component-testimonial-list-item,
.theme-component-testimonial-list.theme-component-testimonial-list-style-2 .theme-component-testimonial-list-item,
.theme-component-work-experience-list>ul>li,
.theme-page .theme-page-header .theme-page-header-top,
.theme-page-header-bottom-style-2,
.theme-post-related .theme-post .theme-post-layout-right,
.theme-background-color-7
{
	background-color:[color_7];
}

.theme-background-color-8
{
	background-color:[color_8];
}

#comments #comments_list>ul>li .theme-comment-divider,
input.theme-component-button.theme-component-button-style-2,
html .woocommerce nav.woocommerce-pagination ul li a:focus, 
html .woocommerce nav.woocommerce-pagination ul li a:hover, 
html .woocommerce nav.woocommerce-pagination ul li span.current,
html .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.theme-menu.theme-menu-responsive .theme-menu-responsive-button:hover,
.theme-component-call-to-action.theme-component-call-to-action-style-2 .theme-component-call-to-action-box .theme-component-call-to-action-icon>span,
.theme-component-counter-box .theme-component-counter-box-item .theme-component-counter-box-item-tick,
.theme-component-counter-list .theme-component-counter-list-item>div,
.theme-component-button.theme-component-button-style-2>a,
.theme-component-feature-circle  .theme-component-feature-circle-circle:first-child,
.theme-component-feature.theme-component-feature-style-1 .theme-component-feature-item>.theme-component-feature-item-icon>span,
.theme-component-feature.theme-component-feature-style-3 .theme-component-feature-item>.theme-component-feature-item-icon>span,
.theme-component-notice,
.theme-component-social-profile.theme-component-social-profile-style-2>li>a,
.theme-component-work-experience-list>ul>li>div:first-child>span:first-child+span,
.theme-page .theme-page-footer .theme-page-footer-top,
.theme-page .theme-page-footer .theme-page-footer-middle,
.theme-pagination>.current,
.theme-pagination>*:hover,
.theme-post-gallery .slick-prev,
.theme-post-gallery .slick-next,
.theme-post .theme-post-divider,
.theme-menu-responsive-list ul>li>a,
.theme-background-color-9
{
	background-color:[color_9];
}

.theme-menu.theme-menu-default>ul ul,
.theme-background-color-10
{
	background-color:[color_10];
}

.theme-background-color-11
{
	background-color:[color_11];
}

.theme-background-color-12
{
	background-color:[color_12];
}