/******************************************************************************/
/* Base */
/******************************************************************************/

html .woocommerce ol,
html .woocommerce ul
{
	margin:0px;
	padding:0px;
}

html .woocommerce abbr
{
	text-decoration:none;
}

/******************************************************************************/
/* Misc */
/******************************************************************************/

html .woocommerce p:empty,
html .woocommerce .page-title,
html .woocommerce .woocommerce-breadcrumb,
html .woocommerce .woocommerce-products-header
{
	display:none;
}

html .woocommerce a.button.loading::after,
html .woocommerce input.button.loading::after,
html .woocommerce button.button.loading::after, 
html .woocommerce #respond input#submit.loading::after
{
	top:auto;
}

html .woocommerce div.product p.price ins,
html .woocommerce div.product span.price ins
{
	text-decoration:none;
}

html .woocommerce ul.products li.product .price,
html .woocommerce ul.products li.product .price ins,
html .woocommerce ul.products li.product .price del,
html .woocommerce ul.products li.product .price del .woocommerce-Price-amount.amount,
html .woocommerce div.product p.price del,
html .woocommerce div.product p.price del .woocommerce-Price-amount.amount
{
	opacity:1;
}

.woocommerce table.my_account_orders
{
	font-size:inherit;
}

.woocommerce-order-details .theme-component-header-subheader
{
	margin-top:50px;
}

html .theme-wc-add-to-cart-notice
{
	
}

	html .theme-wc-add-to-cart-notice>span
	{
	   display:block;
	   margin-top:15px;
	   margin-bottom:15px;
	}
	
	html .theme-wc-add-to-cart-notice>a
	{
		
	}
	
html .woocommerce button.button.alt.disabled,
html .woocommerce button.button.alt.disabled:hover
{
	opacity:1;
}

html .woocommerce div.product .stock
{
	color:inherit;
	font-size:inherit;
}

html .woocommerce #customer_details
{
	margin-bottom:0px;
}

html.woocommerce form .form-row textarea
{
	height:15em;
	resize:none;
}

html.woocommerce #reviews #comment
{
	height:10em;
	resize:none;
}

html .woocommerce-form-row span>em
{
	display:none;
}

html .woocommerce table.shop_attributes tr:nth-child(2n) td, 
html .woocommerce table.shop_attributes tr:nth-child(2n) th
{
	background:none;
}

html .woocommerce .woocommerce-customer-details .woocommerce-customer-details--email,
html .woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone
{
	padding:0px;
}

html .woocommerce .woocommerce-customer-details .woocommerce-customer-details--email:before,
html .woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone:before
{
	display:none;
}

html .woocommerce-order-received .woocommerce-order>*
{
	margin-bottom:40px;
}

html .woocommerce-order-received .woocommerce-order>*:last-child
{
	margin-bottom:0px;
}

html .woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, 
html .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child
{
	border-top:solid 1px;
}

html .shipping-calculator-button
{
	float:right !important;
	clear:both !important;
}

/******************************************************************************/
/* Select2 */
/******************************************************************************/

html .select2-container--default .select2-selection--single
{
	height:55px;
	padding:10px;
	border-radius:0px;
	border-style:solid;
	border-width:1px;
}

html .select2-dropdown
{
	border-radius:0px;
}

html .select2-search--dropdown
{
	padding:17px;
}

html .select2-results__options .select2-results__option
{
	margin-left:10px;
}

html .select2-container--default .select2-selection--single .select2-selection__arrow
{
	top:14px;
	right:12px;
}

html .select2-search--dropdown .select2-search__field
{
	padding:10px;
}

html .select2-container--default .select2-results__option--highlighted[aria-selected], 
html .select2-container--default .select2-results__option--highlighted[data-selected],
html .select2-container--default .select2-results__option[aria-selected="true"], 
html .select2-container--default .select2-results__option[data-selected="true"]
{
	color:#FF700A;
	background:transparent;
}

/******************************************************************************/
/* Tabs */
/******************************************************************************/

html .woocommerce .theme-component-tab
{
	
}

	html .woocommerce .theme-component-tab.ui-tabs>ul.ui-tabs-nav
	{
		justify-content:left;
	}
	
		html .woocommerce .theme-component-tab.ui-tabs>ul.ui-tabs-nav>li
		{
			width:auto;
			text-align:left;
			padding:5px 15px 5px 15px;
		}
		
		html .woocommerce .theme-component-tab.ui-tabs>.ui-tabs-panel
		{
			margin-top:50px;
			margin-bottom:0px;
		}
		
			html .woocommerce .theme-component-tab.ui-tabs>.ui-tabs-panel p:last-child
			{
				padding-bottom:0px;
			}

/******************************************************************************/
/* Grouped product list */
/******************************************************************************/


html .woocommerce-grouped-product-list
{
	width:100%;
}

html .woocommerce-grouped-product-list td,
html .woocommerce-grouped-product-list th
{
	width:50%;
	padding-left:0px !important;
	text-align:left !important;
	vertical-align:middle !important;
}

html .woocommerce-grouped-product-list td+td .button,
html .woocommerce-grouped-product-list td+td .quantity
{
	float:left !important;
}

html .cart.grouped_form button
{
	float:left !important;
}

/******************************************************************************/
/* Product gallery */
/******************************************************************************/

.woocommerce-product-gallery .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image+.woocommerce-product-gallery__image
{
	margin:10px 10px 10px 0px;
}

.woocommerce-product-gallery .woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image+.woocommerce-product-gallery__image>a>img
{
	max-width:100px;
}

/******************************************************************************/
/* Coupon */
/******************************************************************************/

html #add_payment_method table.cart td.actions .coupon .input-text,
html .woocommerce-cart table.cart td.actions .coupon .input-text, 
html .woocommerce-checkout table.cart td.actions .coupon .input-text
{
	padding:12px 15px 12px 15px;
}

/******************************************************************************/
/* Cross sells */
/******************************************************************************/

html .woocommerce .cart-collaterals .cross-sells, 
html .woocommerce-page .cart-collaterals .cross-sells
{
	float:none;
	width:100%;
}

/******************************************************************************/
/* Quantity */
/******************************************************************************/

html .woocommerce div.quantity
{
	text-align:center;
}

html .woocommerce div.quantity,
html .woocommerce div.product form.cart div.quantity
{
   margin:0px 10px 0px 0px;
}

	html .woocommerce div.quantity>*
	{
		position:relative;
	}
	
	html .woocommerce div.quantity .plus,
	html .woocommerce div.quantity .minus
	{
		line-height:1;
		padding:18px 15px 19px 15px;
	}
	
	html .woocommerce div.quantity .input-text
	{
		padding:11px 15px 12px 15px;	
	}
	
	html .woocommerce div.quantity .plus,
	html .woocommerce div.quantity .minus
	{
		z-index:1;
		border:none;
		cursor:pointer;
	}
	
	html .woocommerce div.quantity .minus
	{
		
	}

	html .woocommerce div.quantity .plus
	{
		
	}
	
	html .woocommerce div.quantity .input-text
	{
		z-index:2;
		width:55px;
	}

/******************************************************************************/
/* Variations */
/******************************************************************************/

html .woocommerce div.product form.cart .reset_variations
{
	display:none !important;
}

html .woocommerce div.product form.cart .variations th,
html .woocommerce div.product form.cart .variations td
{
	vertical-align:middle;
}

html .woocommerce div.product form.cart .variations td
{
	padding-top:10px;
}

html .woocommerce div.product form.cart .variations tr:first-child td
{
	padding-top:0px;
}

	html .woocommerce div.product form.cart .variations td label
	{
		color:inherit;
		font-size:inherit;
		font-weight:inherit;		
	}
	
		html .woocommerce div.product form.cart .variations td label:first-letter
		{
			text-transform:uppercase;
		}

	html .woocommerce div.product form.cart .variations td select
	{

	}

/******************************************************************************/
/* Notice */
/******************************************************************************/

html .woocommerce-error,
html .woocommerce-success
{
	margin:0px;
	border-top:0px;
	padding:0px !important;
	background-color:transparent;
}

html .woocommerce-error::before,
html .woocommerce-succes::before 
{
	display:none;
}

/******************************************************************************/
/* Form */
/******************************************************************************/

html .woocommerce form .form-row textarea,
html .woocommerce form .form-row input.input-text
{
	line-height:inherit;
}

html .woocommerce form .form-row,
html .woocommerce form .form-row-last,
html .woocommerce form .form-row-first, 
html .woocommerce-page form .form-row,
html .woocommerce-page form .form-row-last,
html .woocommerce-page form .form-row-first
{
	float:none;
	width:100%;
	padding:0px;
	position:relative;	
	margin:0px 0px 15px 0px;
}

html .woocommerce .woocommerce-ordering .dk_toggle
{
	min-width:300px !important;
}

	html .woocommerce form .form-row br,
	html .woocommerce form .form-row-last br,
	html .woocommerce form .form-row-first br,
	html .woocommerce-page form .form-row br,
	html .woocommerce-page form .form-row-last br,
	html .woocommerce-page form .form-row-first br
	{
		display:none;
	}
	
	/**************************************************************************/
	/* Form / Login */
	/* Form / Register */
	/* Form / Checkout coupon */
	/* Form / Lost reset password */
	/**************************************************************************/

	html .woocommerce form.login,
	html .woocommerce form.register,
	html .woocommerce form.checkout_coupon,
	html .woocommerce form.lost_reset_password
	{
		margin:0px;
		padding:0px;
		border:none;
	}
	
	html .woocommerce form.login,
	html .woocommerce form.lost_reset_password
	{
		width:100%;
		max-width:500px;
		margin-left:auto;
		margin-right:auto;		
	}
	
	html .woocommerce form.login input.button,
	html .woocommerce form.lost_reset_password input.button
	{
		float:right;
	}
	
		/**********************************************************************/
		/* Form / Login														  */
		/**********************************************************************/
		
		html .woocommerce form.login
		{

		}
		
			html .woocommerce form.login button,
			html .woocommerce .woocommerce-form-login .woocommerce-form-login__submit
			{
				float:right;
				margin-right:0px;
			}
			
		/**********************************************************************/
		/* Form / Login */
		/**********************************************************************/
			
		html .woocommerce form.lost_reset_password .button
		{
			float:right;
		}
		
/******************************************************************************/
/* Product list */
/******************************************************************************/

	html .woocommerce ul.products, 
	html .woocommerce-page ul.products
	{
		width:100%;
		height:100%;
		margin:0px;
		overflow:hidden;
	}
	
		html .woocommerce ul.products li.product,
		html .woocommerce-page ul.products li.product
		{
			float:left;
			text-align:center;
			margin:0px 0px 40px 0px;
		}
	
		html .woocommerce .theme-page .theme-page-content .theme-page-sidebar-enable ul.products li.product,		 
		html .woocommerce-page .theme-page .theme-page-content .theme-page-sidebar-enable ul.products li.product  
		{
			clear:both;
			width:48.36066%;
		}
		
		html .woocommerce .theme-page .theme-page-content .theme-page-sidebar-enable ul.products li.product:nth-child(2n),		 
		html .woocommerce-page .theme-page .theme-page-content .theme-page-sidebar-enable ul.products li.product:nth-child(2n)
		{
			clear:none;
			margin-left:3.27868%;
		}
		
		html .woocommerce .theme-page .theme-page-content .theme-page-sidebar-disable ul.products li.product,		 
		html .woocommerce-page .theme-page .theme-page-content .theme-page-sidebar-disable ul.products li.product  
		{
			width:31.14755%;
		}  
		
		html .woocommerce .theme-page .theme-page-content .theme-page-sidebar-disable ul.products li.product,
		html .woocommerce-page .theme-page .theme-page-content .theme-page-sidebar-disable ul.products li.product
		{
			margin-left:3.27868%;
		}   
		
		html .woocommerce .theme-page .theme-page-content .theme-page-sidebar-disable ul.products li.product:nth-child(3n+1),
		html .woocommerce-page .theme-page .theme-page-content .theme-page-sidebar-disable ul.products li.product:nth-child(3n+1)
		{
			margin-left:0px;
		}
		
		html .woocommerce ul.products li.product .woocommerce-LoopProduct-link,
		html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link
		{
			display:block;
		}
		
			html .woocommerce ul.products li.product .woocommerce-LoopProduct-link span.onsale,
			html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link span.onsale
			{

			}
			
			html .woocommerce ul.products li.product .woocommerce-LoopProduct-link img,
			html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link img
			{
				margin-bottom:30px;
			}

			html .woocommerce ul.products li.product .woocommerce-LoopProduct-link h3,
			html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link h3
			{
				padding:0px;
				margin-bottom:10px;
			}

			html .woocommerce ul.products li.product .woocommerce-LoopProduct-link:hover h3,
			html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link:hover h3			
			{
				opacity:0.6;
			}
			
			html .woocommerce ul.products li.product .woocommerce-LoopProduct-link .star-rating,
			html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link .star-rating
			{
				display:none;
			}

			html .woocommerce ul.products li.product .woocommerce-LoopProduct-link span.price,
			html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link span.price
			{
				margin-bottom:30px;
			}

				html .woocommerce ul.products li.product .woocommerce-LoopProduct-link span.price>*,
				html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link span.price>*
				{
					display:inline-block;
				}

				html .woocommerce ul.products li.product .woocommerce-LoopProduct-link span.price ins,
				html .woocommerce-page ul.products li.product .woocommerce-LoopProduct-link span.price ins
				{
					text-decoration:none;
				}
	
		html .woocommerce ul.products li.product a.add_to_cart_button,
		html .woocommerce-page ul.products li.product a.add_to_cart_button
		{
			margin-top:0px;
			margin-bottom:10px;
		}
		
		html .woocommerce ul.products li.product a.added_to_cart,
		html .woocommerce-page ul.products li.product a.added_to_cart
		{
			margin-left:10px;
		}
		
/******************************************************************************/
/* On sale badge /
/******************************************************************************/		
	
html .woocommerce span.onsale,
html .woocommerce ul.products li.product .onsale
{
	top:15px;
	left:15px;
	z-index:2;
	width:60px;
	height:60px;
	margin:0px;
	padding:0px;
	line-height:60px;
	font-size:inherit;
	font-weight:normal;
}
		
/******************************************************************************/
/* Cart */
/******************************************************************************/

html .woocommerce-cart .woocommerce-cart-form
{
	margin-bottom:60px;
}

	/**************************************************************************/
	/* Cart	/ Table */
	/**************************************************************************/
	
	html .woocommerce-cart .woocommerce .shop_table
	{
		
	}
	
		/**********************************************************************/
		/* Cart	/ Table / Name */
		/**********************************************************************/
	
		html .woocommerce-cart .woocommerce .shop_table .product-name
		{
			width:auto;
		}
		
		html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive .product-name
		{
			width:100%;
		}
		
			html .woocommerce-cart .woocommerce .shop_table .product-name>a:first-child,
			html .woocommerce-cart .woocommerce .shop_table .product-name>img:first-child
			{
				float:left;
				margin-right:10px;
			}
		
			html .woocommerce-cart .woocommerce .shop_table .product-name>*:first-child+span
			{
				display:table;
			}
		
				html .woocommerce-cart .woocommerce .shop_table .product-name>*:first-child+span>a
				{
					display:inline-block;
					vertical-align:middle;
				}

			html .woocommerce-cart .woocommerce .shop_table .product-name a.remove
			{
				width:23px;
				height:24px;
				font-weight:400;
				margin-top:-2px;
				line-height:22px;
			}
				
			html .woocommerce-cart .woocommerce .shop_table .product-name a+a
			{
				margin-left:10px;
			}
			
		/**********************************************************************/
		/* Cart	/ Table / Price */
		/**********************************************************************/
				
		html .woocommerce-cart .woocommerce .shop_table .product-price
		{
			width:100px;
			text-align:right;
		}
		
		html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive .product-price
		{
			width:100%;
		}
		
		/**********************************************************************/
		/* Cart	/ Table / Quantity */
		/**********************************************************************/
		
		html .woocommerce-cart .woocommerce .shop_table .product-quantity
		{
			width:200px;	
			text-align:center;
		}
		
		html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive .product-quantity
		{
			width:100%;
		}
		
			html .woocommerce-cart .woocommerce .shop_table .product-quantity div.quantity
			{
				
			}
			
			html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive div.quantity
			{
				text-align:right;
			}
			
				html .woocommerce-cart .woocommerce .shop_table .product-quantity div.quantity>*:last-child
				{
					margin-right:0px !important;
				}
				
		/**********************************************************************/
		/* Cart	/ Table / Subtotal */
		/**********************************************************************/
		
		html .woocommerce-cart .woocommerce .shop_table .product-subtotal
		{
			width:200px;
			text-align:right;
		}
		
		html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive .product-subtotal
		{
			width:100%;
		}
		
		/**********************************************************************/
		/* Cart	/ Table / Coupon */
		/**********************************************************************/
		
		html .woocommerce-cart .woocommerce .shop_table .coupon
		{
			
		}
		
		html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive .coupon
		{
			width:100%;
		}
		
		html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive .actions input
		{
			float:none;
			clear:both;
			margin-bottom:10px;
			width:100% !important;
		}
		
		html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive .actions>input:last-child
		{
			margin-bottom:0px;
		}
		
		html .woocommerce-cart .woocommerce .shop_table.theme-table-responsive .coupon .button
		{
			width:100%;
		}
		
		html .woocommerce table.shop_table_responsive tr:nth-child(2n) td, 
		html .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td
		{
			background:none;
		}
 
	/**************************************************************************/
	/* Cart	/ Totals */
	/**************************************************************************/
		
	html .woocommerce-cart .woocommerce .cart-collaterals .cart_totals 
	{
		display:block;
	}
	
		html .woocommerce-cart .woocommerce .cart-collaterals .cart_totals table
		{
			
		}
		
			html .woocommerce-cart .woocommerce .cart-collaterals .cart_totals table th,
			html .woocommerce-cart .woocommerce .cart-collaterals .cart_totals table td
			{
				text-align:right;
			}
	
	html .woocommerce-cart .woocommerce .cart-collaterals p
	{
		clear:both;
		float:right;
		margin-top:20px;
	}
	
	#add_payment_method .wc-proceed-to-checkout a.checkout-button,
	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, 
	.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button
	{
		margin:0px;
		float:right;
	}
	
/******************************************************************************/
/* Coupon field */
/******************************************************************************/			
		
html #add_payment_method table.cart td.actions .coupon .input-text, 
html .woocommerce-cart table.cart td.actions .coupon .input-text, 
html .woocommerce-checkout table.cart td.actions .coupon .input-text
{
	float:none;
	width:150px;
	margin-right:5px;
}

/******************************************************************************/
/* My account */
/******************************************************************************/		

	/**************************************************************************/
	/* My account / Address list */
	/**************************************************************************/		

	html .woocommerce-account .addresses .title .edit
	{
		float:left;
	}
	
	/**************************************************************************/
	/* My account / Edit account */
	/**************************************************************************/		
	
	html .woocommerce-account.woocommerce-edit-account .woocommerce-EditAccountForm fieldset>legend:first-child
	{
		display:none;
	}

	html .woocommerce-account.woocommerce-edit-account .woocommerce-EditAccountForm>p:last-child
	{
		text-align:right;
	}
	
	/**************************************************************************/
	/* My account / Edit address page */
	/**************************************************************************/

	html .woocommerce-account.woocommerce-edit-address .woocommerce-address-fields>p:last-child
	{
		text-align:right;
	}
	
	/**************************************************************************/
	/* My account / View Order page */
	/**************************************************************************/

	html .woocommerce-account.woocommerce-view-order .woocommerce-MyAccount-content section
	{
		margin-top:40px;
	}
	
	html .woocommerce-orders-table .woocommerce-button.button.cancel
	{
		display:none;
	}
	
	/**************************************************************************/
	/* My account / Addresses */
	/**************************************************************************/	
	
	html .woocommerce-account.woocommerce-edit-address .woocommerce-MyAccount-content .woocommerce-Addresses
	{
		margin-top:20px;
	}
	
		html .woocommerce-account.woocommerce-edit-address .woocommerce-MyAccount-content .woocommerce-Addresses .woocommerce-Address-title a
		{
			top:6px;
			left:10px;
			position:relative;
		}
	
/******************************************************************************/
/* Billing details */
/******************************************************************************/		
	
html .woocommerce-billing-fields #billing_state
{
	margin-top:-1px;
}	

/******************************************************************************/
/* Payment */
/******************************************************************************/	
	
html #add_payment_method #payment, 
html .woocommerce-cart #payment, 
html .woocommerce-checkout #payment
{
	margin-top:30px;
	border-radius:0px;
}

	html #add_payment_method #payment ul.payment_methods, 
	html .woocommerce-cart #payment ul.payment_methods, 
	html .woocommerce-checkout #payment ul.payment_methods
	{
		border-bottom:none;
	}
	
	html #add_payment_method #payment>div.form-row,
	html .woocommerce-cart #payment>div.form-row,
	html .woocommerce-checkout #payment>div.form-row
	{
		margin:0px;
		background:#FFFFFF;
		padding:30px 0px 0px 0px;
	}
	
/******************************************************************************/
/* Single product */
/******************************************************************************/	
	
html .woocommerce div.product
{
	
}

	html .woocommerce div.product .theme-component-header-subheader
	{
		margin-bottom:30px;
	}
	
	html .woocommerce div.product .theme-component-header-subheader+*
	{
		padding-top:0px;
	}
	
	
	
	html .woocommerce div.product>*,
	html .woocommerce div.product>div.images,
	html .woocommerce div.product>div.summary,
	html .woocommerce div.product>div.theme-component-tab 
	{
		margin-bottom:60px;
	}
	
	html .woocommerce div.product form.cart div.quantity
	{
		margin-bottom:10px;
	}
	
	html .woocommerce div.product>*:last-child
	{
		margin-bottom:-60px;
	}
	
	html .woocommerce div.product>.up-sells.upsells.products+.related.products
	{
	   margin-top:-60px;
	}

		html .woocommerce div.product div.summary>*
		{
			margin-top:20px;
		}
	
		html .woocommerce div.product div.summary>*:first-child
		{
			margin-top:0px;
		}

		html .woocommerce div.product div.summary>.product_title
		{
			display:none;
		}

		html .woocommerce div.product div.summary .price
		{
			margin:0px;
			padding:0px;
		}

		html .woocommerce div.product div.summary div[itemprop="description"] p
		{
			padding:0px;
		}
				
	html .woocommerce div.product .theme-component-tab>div>p+p
	{
		padding-top:20px;
	}
	
		html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments
		{
			margin-top:0px;
			margin-bottom:60px;
		}
		
			html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments h4
			{
				margin-top:0px;
			}
			
			html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews #respond #reply-title,
			html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .woocommerce-Reviews-title
			{
				margin-bottom:30px;
			}
			
			html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist
			{
				
			}
			
				html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li:first-child
				{
					padding-top:0px;
				}
			
				html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li
				{
					margin:0px;
					padding-top:30px;
					padding-bottom:30px;	
				}
				
					html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div
					{
					
					}
					
						html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>img
						{
							width:70px;
							height:70px;
							border:none;
							padding:0px;
							background:none;
							position:static;
							border-radius:100%;
						}
						
						html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div
						{
							width:100%;
							border:none;
							padding:0px;
							margin-left:120px;
							border-radius:0px;
						}
						
							html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div .star-rating
							{
								margin-top:0px;
							}
							
							html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>p.meta
							{
								padding:0px;
							}
							
								html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>p.meta>.woocommerce-review__author
								{
									font-weight:inherit;
								}
								
									html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>p.meta>.woocommerce-review__author>.theme-icon-meta-user
									{
										margin-right:10px;
									}
									
								html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>p.meta>.woocommerce-review__published-date
								{
									
								}
								
									html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>p.meta>.woocommerce-review__published-date>.theme-icon-meta-time
									{
										margin-left:10px;
										margin-right:10px;
									}								
								
							html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>div.description
							{
								
							}
							
								html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>div.description>p
								{
									margin:0px;
									padding:0px;
								}
		
/******************************************************************************/
/* Review form */
/******************************************************************************/   
								
html .woocommerce #review_form
{
	
}

	html .woocommerce #review_form #respond
	{
		
	}
	
		html .woocommerce #review_form #respond #commentform
		{

		}
		
			html .woocommerce #review_form #respond #commentform>p
			{
				margin:0px;
				padding:0px;
			}
			
			html .woocommerce #review_form #respond #commentform>p.comment-notes
			{
				margin-bottom:15px;
			}
			
			html .woocommerce #review_form #respond #commentform>p.comment-form-rating
			{

			}

				html .woocommerce #review_form #respond #commentform>p.comment-form-rating>p
				{
					margin:0px;
					padding:0px;
					line-height:1;
				}

			html .woocommerce #review_form #respond #commentform>p>select,
			html .woocommerce #review_form #respond #commentform>p>textarea,
			html .woocommerce #review_form #respond #commentform>p>input[type="text"]
			{
				width:100%;
			}
			
			html .woocommerce #review_form #respond #commentform>p.form-submit
			{
				float:right;
				margin-top:20px;
				margin-bottom:0px;
			}
			
			html .woocommerce #review_form #respond #commentform .comment-form-comment,
			html .woocommerce #review_form #respond #commentform .comment-form-author,
			html .woocommerce #review_form #respond #commentform .comment-form-email
			{
				border-top:none;
			}

/******************************************************************************/
/* Woocommerce address */
/******************************************************************************/					   
	
html .woocommerce address,
html .woocommerce .woocommerce-customer-details address
{
	border-radius:0;
	border-width:1px;
	border-style:solid;
	padding:10px 20px 10px 20px;
}

/******************************************************************************/
/* Responsive */
/******************************************************************************/

/******************************************************************************/
/* 0-1459 */
/******************************************************************************/

@media only screen and (min-width:0px) and (max-width:1459px)
{	

}

/******************************************************************************/
/* 0-1299 */
/******************************************************************************/

@media only screen and (min-width:0px) and (max-width:1299px)
{	

}

/******************************************************************************/
/* 0-1169 */
/******************************************************************************/

@media only screen and (min-width:0px) and (max-width:1169px)
{

}

/******************************************************************************/
/* 0-959 */
/******************************************************************************/

@media only screen and (min-width:0px) and (max-width:959px)
{
/******************************************************************************/
/* My account */
/******************************************************************************/   
	
	/**************************************************************************/
	/* My account / Addresses */
	/**************************************************************************/	
	
	html .woocommerce-account.woocommerce-edit-address .woocommerce-MyAccount-content .woocommerce-Addresses div
	{
		float:none;
		width:100%;
	}

	html .woocommerce-account.woocommerce-edit-address .woocommerce-MyAccount-content .woocommerce-Addresses div+div
	{
		margin-top:40px;
	}
	
/******************************************************************************/
/* Misc */
/******************************************************************************/	
	
	html .woocommerce .theme-page-sidebar-enable .woocommerce-result-count
	{
		width:100%;
		text-align:center;
	}
	
	html .woocommerce .theme-page-sidebar-enable .woocommerce-ordering .dk_toggle
	{
		min-width:440px !important;
	}

	html .woocommerce-ordering,
	html .woocommerce-ordering select
	{
		width:100%;
	}
	
/******************************************************************************/
/* Product list */
/******************************************************************************/

		html .woocommerce .theme-page .theme-page-content .theme-page-sidebar-enable ul.products li.product,		 
		html .woocommerce-page .theme-page .theme-page-content .theme-page-sidebar-enable ul.products li.product
		{
			float:none;
			clear:both;
			width:100%;
			margin-left:0px;
		}
		
		html .woocommerce .theme-page .theme-page-content .theme-page-sidebar-enable ul.products li.product:nth-child(2n), 
		html .woocommerce-page .theme-page .theme-page-content .theme-page-sidebar-enable ul.products li.product:nth-child(2n)
		{
			margin-left:0px;
		}
		
/******************************************************************************/
/* Single product */
/******************************************************************************/

html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>img
{
	display:none;
}
						
html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div
{
	margin-left:0px;
} 

html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>p.meta>.woocommerce-review__published-date
{
	display:block;
}

	html .woocommerce div.product .theme-component-tab>.ui-tabs-panel>#reviews>#comments .commentlist>li>div>div>p.meta>.woocommerce-review__published-date>.theme-icon-meta-time
	{
		margin-left:0px;
	}
}
 
/******************************************************************************/
/* 0-767 */
/******************************************************************************/

@media only screen and (min-width:0px) and (max-width:767px)
{	
/******************************************************************************/
/* Misc */
/******************************************************************************/	
	
	html .woocommerce .woocommerce-result-count
	{
		width:100%;
		text-align:center;
	}
	
	html .woocommerce .woocommerce-ordering .dk_toggle
	{
		min-width:460px !important;
	}
	
	html .woocommerce-additional-fields h3
	{
		margin-top:40px;
	}
	
/******************************************************************************/
/* Product list */
/******************************************************************************/

html .woocommerce .theme-page .theme-page-content .theme-page-sidebar-disable ul.products li.product,
html .woocommerce-page .theme-page .theme-page-content .theme-page-sidebar-disable ul.products li.product
{
	float:none;
	clear:both;
	width:100%;
	margin-left:0px;
} 
}

/******************************************************************************/
/* 960-1169 */
/******************************************************************************/

@media only screen and (min-width:960px) and (max-width:1189px)
{

}

/******************************************************************************/
/* 768-959 */
/******************************************************************************/

@media only screen and (min-width:768px) and (max-width:959px)
{
	 
}

/******************************************************************************/
/* 480-767 */
/******************************************************************************/

@media only screen and (min-width:480px) and (max-width:767px)
{

}

/******************************************************************************/
/* 0-479 */
/******************************************************************************/

@media only screen and (min-width:0px) and (max-width:479px)
{
/******************************************************************************/
/* Misc */
/******************************************************************************/	

	html .woocommerce .woocommerce-ordering .dk_toggle
	{
		min-width:300px !important;
	}
	
/******************************************************************************/
/* Form */
/******************************************************************************/
	
	/**************************************************************************/
	/* Form / Login */
	/**************************************************************************/
	
	html .woocommerce form.login button,
	html .woocommerce form.login button.button,
	html .woocommerce .woocommerce-form-login .woocommerce-form-login__submit,
	html .woocommerce form.login .theme-component-button.theme-component-button-style-2
	{
		float:right;
		
	}
	
	html .woocommerce form.login .theme-component-button.theme-component-button-style-2+button
	{
		margin-top:20px;
	}
	
}